<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include common-head.html -%}
    {%- include head-icons-rel.html -%}
    {%- assign __path = '/assets/css/blog.css' -%}
    {%- include snippets/prepend-baseurl.html -%}
    <link rel="stylesheet" href="{{ __return }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <style>
    {%- if page.picture_frame == 'shadow' -%}
      .m-article-content img:not(.emoji) {
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      }
    {%- endif -%}
    </style>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    {%- include utils/mathjax.html -%}
  </head>
  <body>
    <div class="m-page-stage js-page-stage">{{ content }}</div>
    {%- include blog/footer.html -%}
    <script>
      $(function() {
        // display coding language
        $(".highlight").each(function() {
          $(this).attr("data-lang", $(this).find("code").attr("data-lang"));
        });
      });
    </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
        window.onload = function() {
            const gitalk = new Gitalk({
              clientID: "06fe81d8ac4624c2459e",
              clientSecret: "b903133e6561a53525d612fac1188bfe3d92d156",
              repo: "guitarpoet.github.io",
              owner: "guitarpoet",
              admin: ["guitarpoet"],
              // facebook-like distraction free mode
              distractionFreeMode: false
            })

            gitalk.render("gitalk-container")
        }
    </script>
    {%- if ga_tracking_id and site.isdebug == false -%}
      {%- include utils/google-analytics.html -%}
    {%- endif -%}
  </body>
</html>
