---
layout: blog-default
titles:
  en: Blog
  zh: 博客
  zh-Hans: 博客
  zh-Hant: 博客
---
<div class="m-home">
  <div class="main">
    <div class="m-post-list">
      {%- for post in site.posts -%}
        <article>
          {%- assign __path = post.url -%}
          {%- include snippets/prepend-baseurl.html -%}
          {%- assign href = __return -%}
          <h1><a href="{{ href }}">{{ post.title }}</a></h1>
          <div class="m-article-content">
			{{ post.content }}
          </div>
          {%- assign __path = post.url -%}
          {%- include snippets/prepend-baseurl.html -%}
          {%- assign __locale = site.data.locale.READMORE -%}
          {%- include snippets/locale-to-string.html -%}
          <a href="{{ href }}">{{ __return }}</a>
          {%- include blog/article-data.html -%}
        </article>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- if site.leancloud.app_id and site.leancloud.app_key and site.leancloud.app_class and site.isdebug == false -%}
  <script src="https://cdn1.lncld.net/static/js/3.4.1/av-min.js"></script>
  <script>
    $(function() {
      AV.init({
        appId: '{{ site.leancloud.app_id }}',
        appKey: '{{ site.leancloud.app_key }}'
      });
      $(".article-view").each(function() {
        var curId = this.id;
        var query = new AV.Query('{{ site.leancloud.app_class }}');
        query.equalTo('key', curId.substr(9));
        query.first().then(function(result) {
          if (result) {
            $('#' + curId).text(result.attributes.views);
          }
        }, function(error) {
          if (error) {
            throw error;
          }
        });
      });
    });
  </script>
{%- endif -%}
